<div class="sidemenu-wrapper d-none d-lg-block">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget woocommerce widget_shopping_cart"><h3 class="widget_title">Shopping cart</h3>
            <div class="widget_shopping_cart_content">
                <ul class="woocommerce-mini-cart cart_list product_list_widget">
                    <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#"
                                                                             class="remove remove_from_cart_button"><i
                                    class="far fa-times"></i></a> <a href="#"><img src="assets/img/cart/cart_1_1.jpg"
                                                                                   alt="Cart Image">HTML5 Course</a> <span
                                class="quantity">1 × <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>40.00</span></span></li>
                    <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#"
                                                                             class="remove remove_from_cart_button"><i
                                    class="far fa-times"></i></a> <a href="#"><img src="assets/img/cart/cart_1_2.jpg"
                                                                                   alt="Cart Image">JS ES6 Course</a> <span
                                class="quantity">1 × <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>99.00</span></span></li>
                    <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#"
                                                                             class="remove remove_from_cart_button"><i
                                    class="far fa-times"></i></a> <a href="#"><img src="assets/img/cart/cart_1_3.jpg"
                                                                                   alt="Cart Image">PHP Course</a> <span
                                class="quantity">1 × <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>56.00</span></span></li>
                    <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#"
                                                                             class="remove remove_from_cart_button"><i
                                    class="far fa-times"></i></a> <a href="#"><img src="assets/img/cart/cart_1_4.jpg"
                                                                                   alt="Cart Image">Python Course</a> <span
                                class="quantity">1 × <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>23.00</span></span></li>
                    <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#"
                                                                             class="remove remove_from_cart_button"><i
                                    class="far fa-times"></i></a> <a href="#"><img src="assets/img/cart/cart_1_5.jpg"
                                                                                   alt="Cart Image">WordPress Course</a> <span
                                class="quantity">1 × <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>100.00</span></span></li>
                </ul>
                <p class="woocommerce-mini-cart__total total"><strong>Subtotal:</strong> <span
                            class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>318.00</span>
                </p>
                <p class="woocommerce-mini-cart__buttons buttons"><a href="cart.html" class="as-btn wc-forward">View
                        cart</a> <a href="checkout.html" class="as-btn checkout wc-forward">Checkout</a></p></div>
        </div>
    </div>
</div>
<div class="as-menu-wrapper">
    <div class="as-menu-area text-center">
        <button class="as-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo"><a href="index.html"><img src="assets/img/logo.svg" alt="Acadu"></a></div>
        <div class="as-mobile-menu">
            <ul>
                <li class="menu-item-has-children"><a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home One</a></li>
                        <li><a href="index-2.html">Home Two</a></li>
                        <li><a href="index-3.html">Home Three</a></li>
                        <li><a href="index-4.html">Home Four</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Courses</a>
                    <ul class="sub-menu">
                        <li><a href="course.html">Courses</a></li>
                        <li><a href="video-course.html">Video Courses</a></li>
                        <li><a href="course-details.html">Course Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Teachers</a>
                    <ul class="sub-menu">
                        <li><a href="team.html">Teachers</a></li>
                        <li><a href="team-details.html">Teacher Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children mega-menu-wrap"><a href="#">Pages</a>
                    <ul class="mega-menu">
                        <li><a href="shop.html">Pagelist 1</a>
                            <ul>
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index-2.html">Home Two</a></li>
                                <li><a href="index-3.html">Home Three</a></li>
                                <li><a href="index-4.html">Home Four</a></li>
                                <li><a href="about.html">About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pagelist 2</a>
                            <ul>
                                <li><a href="about-2.html">About Us Two</a></li>
                                <li><a href="team.html">Teachers</a></li>
                                <li><a href="team-details.html">Teachers Details</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pagelist 3</a>
                            <ul>
                                <li><a href="course.html">Courses</a></li>
                                <li><a href="video-course.html">Video Courses</a></li>
                                <li><a href="course-details.html">Course Details</a></li>
                                <li><a href="event.html">Event</a></li>
                                <li><a href="event-details.html">Event Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pagelist 4</a>
                            <ul>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="error.html">Error Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>